<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Angular Routing</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    <li>
      <button *ngIf="!authServise.getIsAuth(); else logOutBtn" class="btn" (click)="authServise.logIn()">Login</button>
      <ng-template #logOutBtn><button class="btn" [disabled]="!authServise.getIsAuth()" routerLink="/" (click)="authServise.logOut()">Logout</button></ng-template>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>



